.project-summary-grid {
  margin-block-start    : var(--size-xl);
  display               : grid;
  grid-template-columns : repeat(auto-fit, minmax(350px, 1fr));
  gap                   : var(--size-lg);
}

.project-summary__link {
  display          : block;
  background-color : var(--c-bg-2);
  border-radius    : var(--size-sm);
  overflow         : hidden;
  position         : relative;
  perspective      : 400px;

  text-decoration  : none;
  color            : var(--c-accent);

  &:hover {
	.project-summary__image {
	  filter    : grayscale(0);
	  transform : scale(1.05);
	}

	.project-summary__link-icon {
	  --scale : 1;
	}
  }
}

.project-summary__link-icon {
  --scale          : 0;
  position         : absolute;
  inset            : 0;
  left             : 50%;
  top              : 50%;
  transform        : translate(-50%, -50%) scale(var(--scale));
  z-index          : 1;
  width            : 64px;
  aspect-ratio     : 1 / 1;
  padding          : var(--size-md);
  background-color : var(--c-bg-3);
  border-radius    : var(--size-lg);
  transition       : transform var(--transition-duration);
  box-shadow       : var(--shadow-1);
}

.project-summary__image {
  transition       : filter var(--transition-duration), transform var(--transition-duration);
  transform-origin : bottom;
  filter           : grayscale(1);
}

.project-summary__info {
  padding : var(--size-md);
}

.project-summary__title {
  text-align : center;
  font-size  : var(--font-size-p);
}
