@use "src/styles/mixins" as mx;
@forward "spacing";

:is(.visually-hidden, .sr-only) {
  overflow    : hidden;
  width       : 1px;
  height      : 1px;
  margin      : -1px;
  border      : 0;
  padding     : 0;
  position    : absolute;
  white-space : nowrap;
  clip        : rect(1px, 1px, 1px, 1px);
  clip-path   : inset(50%);
}

.flow > :where(:not(:first-child)) {
  margin-block-start : var(--flow-space, var(--size-lg));
}

.text--outline {
  -webkit-text-stroke : .01em var(--c-text);
  color               : transparent;

  &::selection {
	background-color : var(--c-accent);
	color            : var(--c-text);
  }
}

.text--c-accent {
  color : var(--c-accent);
}

.font--display {
  font-family : var(--font-type-display);
}


.noodle__title {
  --size-noodle      : 10rem;
  position           : relative;
  margin-block-start : calc(var(--size-lg) * 1.25);
  @include mx.desktop() {
	padding-inline-start : calc(var(--size-noodle) / 2);
  }
}

.noodle__noodle {
  position : absolute;
  width    : var(--size-noodle);
  top      : calc(var(--size-lg) * -1.25);
  left     : 0;
}
