@font-face {
  font-family  : "Agency";
  src          : url("/fonts/AgencyFB-Bold.ttf");
  font-style   : normal;
  font-weight  : normal;
  font-display : swap;
}

@font-face {
  font-family  : "Manrope";
  src          : url("/fonts/Manrope-VariableFont_wght.ttf");
  font-style   : normal;
  font-weight  : 200 800;
  font-display : optional;
}

