@font-face {
  font-family : "Agency";
  src         : url("/fonts/AgencyFB-Bold.ttf");
  font-style  : normal;
  font-weight : normal;
}

@font-face {
  font-family : "Manrope";
  src         : url("/fonts/Manrope-Regular.ttf");
  font-style  : normal;
  font-weight : 400;
}

@font-face {
  font-family : "Manrope";
  src         : url("/fonts/Manrope-Bold.ttf");
  font-style  : normal;
  font-weight : 700;
}

@font-face {
  font-family : "Manrope";
  src         : url("/fonts/Manrope-ExtraBold.ttf");
  font-style  : normal;
  font-weight : 900;
}

