@forward "menu-toggle";
@use "src/styles/mixins" as mx;

.main-header {
  display          : flex;
  align-items      : center;
  position         : fixed;
  z-index          : 7;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : var(--size-header);
  background-color : var(--c-bg-1);
  //border-block-end : 1px solid var(--c-bg-0);
}

.sidebar__toggle {
  display             : flex;
  align-items         : center;
  justify-content     : center;
  margin-inline-start : auto;
  background-color    : var(--c-accent);
  height              : 100%;
  aspect-ratio        : 1 / 1;
  @include mx.desktop {
	display : none;
  }
}
