@use "src/styles/mixins/index" as mx;

.footer {
}

.footer__copyright {
  display        : flex;
  align-items    : center;
  flex-direction : column;
  gap            : var(--size-lg);
  padding        : var(--size-lg);
  text-align     : center;
  @include mx.desktop() {
	justify-content : space-between;
	flex-direction  : row;
	padding         : var(--size-md) var(--size-lg);
  }
}
