@forward "phone-input";
@use "src/styles/mixins" as mx;

.form {
  margin-block-start : var(--size-lg);

  > .input__wrapper, > .input__group {
	&:not(:first-child) {
	  margin-block-start : var(--size-md);
	}
  }

  [type="submit"] {
	margin-block-start : var(--size-md);
  }
}

.input__wrapper {
  position : relative;
  width    : 100%;

  &--with-error .input__field {
	outline : 1px solid var(--c-error);
  }
}

.input__label {
  display          : block;
  margin-block-end : var(--size-sm);
  padding-inline   : var(--size-sm);
}

.input__group {
  gap     : var(--size-md);
  display : flex;
  @include mx.mobile() {
	flex-direction : column;
  }
}

textarea {
  --input-padding : var(--input-padding-x);
}

.input__field {
  background-color : var(--c-grey-8);
  color            : var(--c-grey-1);
  min-height       : 48px;
  display          : flex;
  align-items      : center;
  width            : 100%;
  padding          : var(--input-padding);
  border           : none;
  border-radius    : var(--size-sm);

  &:disabled {
	cursor  : not-allowed;
	opacity : .65;
  }

  &:focus:not(:disabled) {
	outline-offset : 2px;
	outline        : var(--state-focus);
  }
}

.input__error {
  margin-block-start : var(--size-sm);
  color              : var(--c-error);
}

select {
  -moz-appearance     : none;
  -webkit-appearance  : none;
  appearance          : none;
  background-image    : url("data:image/svg+xml;utf8,<svg fill='%23fff' viewBox='0 0 120 120' width='32' height='32' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z'/></g></svg>");
  background-repeat   : no-repeat, repeat;
  background-position : right 1.25em top 50%, 0 0;
  background-size     : 0.65em auto, 100%;
}
